  <div class=col-md-3>
    <div class="panel panel-default" style="overflow: auto;height:700px">
      <div class="panel-heading">History <button class="btn btn-primary btn-xs" ng-click="refreshList()" type="submit">Refresh</button></div>
      <div class="panel-body">
        <div class="list-group">
          <a ng-click='setSelectedBlogId(blog.ID)' ng-repeat="blog in bloglist"  ng-class="setActiveBlogItem(blog.ID)" class='list-group-item' style="cursor:default">{{blog.Title}}</a>
        </div>        
      </div>
    </div>
  </div>

