<div class=col-md-9>
  <div class="btn-group" role="group" aria-label="...">
    <button ng-click="new()" type="button" class="btn btn-default">New</button>
    <button ng-click="save()" ng-disabled="!BlogIsDirty" type="button" class="btn btn-default">Save</button>
    <button ng-click="cancel()" ng-disabled="!BlogIsDirty" type="button" class="btn btn-default">Cancel</button>
    <button ng-click="publish()" type="button" class="btn btn-default">Publish</button>
    </div>
    <div ng-class="getresponsemessagetype()" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ServerResponse.Message}}
    </div>
    <form name="frm">
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" ng-model='blogDetails.Title' class="form-control" id="Title" placeholder="Blog title">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Sub-title</label>
        <textarea class="form-control" rows="3" placeholder='Sub title'  ng-model='blogDetails.SubTitle'></textarea>
      </div>
      <div class="form-group">
        <div class=row>
          <div class=col-md-9>
            <label for="exampleInputPassword1">Blog</label>
            <div ng-cloak ng-hide="ckeditorIsReady" class="highlight">Initialising ...</div>

            <div>
              <textarea ckeditor="editorOptions" name="editor" ng-model="blogDetails.Blog"></textarea>
            </div>
          </div>
          <div class=col-md-3>
            <div class=row>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Categories</h3>
                </div>
                <div class="panel-body">
                  <div class="checkbox" ng-click='checkListIem(category.ID)' ng-repeat="category in categoryList"><label><input type="checkbox"ng-model="selectedCategories.ids[category.ID]"> {{category.Title}}</label></div>
                </div>
              </div>
            </div>
            <div class=row>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Blog types</h3>
                </div>
                <div class="panel-body">
                  <div class="checkbox" ng-click='checkListIem(blogType.ID)' ng-repeat="blogType in typeList"><label><input type="checkbox"ng-model="selectedTypes.ids[blogType.ID]"> {{blogType.Name}}</label></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="alert alert-danger alert-dismissible fade in" role="alert" ng-show='showdirtyalert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
          <h4 id="oh-snap!-you-got-an-error!">Oh snap! You've got unsaved changes in this blog!<a class="anchorjs-link" href="#oh-snap!-you-got-an-error!"><span class="anchorjs-icon"></span></a></h4>
          <p>Either click on the Save button to save these changes or click the Cancel button to discard the changes.</p>
          <p>
            <button ng-click="save()" type="button" class="btn btn-success">Save</button>
            <button ng-click="cancel()" type="button" class="btn btn-danger">Cancel</button>
          </p>
    </div>
  </div>



