<div class="container-fluid">
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
 <div class="container-fluid">
    <div class="navbar-header">
		<button type="button" class="btn btn-default navbar-right" ng-click='navigateto("/",true)'>Sign out</button>
		<button type="button" class="btn btn-default navbar-right" ng-click='navigateto("/blogadmin",false)'>Blog admin</button>
		<button type="button" class="btn btn-default navbar-right" ng-click='navigateto("/categoryadmin",false)'>Category admin</button>
		<button type="button" class="btn btn-default navbar-right" ng-click='navigateto("/useradmin",false)'>User admin</button>
    </div>
  </div>
</nav>
